@font-face{
	font-family: 'Century Gothic Bold';
	src: url('../../fonts/Century Gothic Bold/8483.eot');
	src: url('../../fonts/Century Gothic Bold/8483.eot') format('embedded-opentype'),
		url('../../fonts/Century Gothic Bold/8483.woff2') format('woff2'),
		url('../../fonts/Century Gothic Bold/8483.woff') format('woff'),
		url('../../fonts/Century Gothic Bold/8483.ttf') format('truetype'),
		url('../../fonts/Century Gothic Bold/8483.svg#8483') format('svg');
	font-weight: bold;
  	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('../../fonts/Century Gothic/11528.eot');
	src: url('../../fonts/Century Gothic/11528.eot') format('embedded-opentype'),
		url('../../fonts/Century Gothic/11528.woff2') format('woff2'),
		url('../../fonts/Century Gothic/11528.woff') format('woff'),
		url('../../fonts/Century Gothic/11528.ttf') format('truetype'),
		url('../../fonts/Century Gothic/11528.svg#11528') format('svg');
	font-weight: normal;
  	font-style: normal;
}
